* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
}
header{
  background-color: #D9D9D9;
  padding: 1rem;
}
h1{
  margin-left: 16px;
}
table {
  border-collapse: collapse;
  background-color: #D9D9D9;
  
  margin: 2rem;
  font-size: larger;
}
th, td{
  padding: 10px;
  text-align: center;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr{
  background-color: #C8C8C8;
}