<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des casiers de l'ETML</title>
  </head>
  <body>
    <h1>Information sur le casier {{ locker.lockerNumber }}</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Numéro du casier</th>
            <th>Nom de la salle</th>
            <th>Nom du site</th>
            <th>ID du propriétaire</th>
        </tr>
        <tr>
            <td>{{ locker.id}}</td>
            <td>{{ locker.lockerNumber}}</td>
            <td>{{ locker.roomName}}</td>
            <td>{{ locker.site}}</td>
            <td>{{ locker.studentId}}</td>
        </tr>
    </table>

  </body>
</html>