<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des casiers de l'ETML</title>
    <link rel="stylesheet" href="./resources/css/app.css" />
  </head>
  <body>
    @include('components/header')
    <header>
      <h1>Liste des casiers</h1>
    </header>
    <table>
        <tr>
            <th>Nom de la salle</th>
            <th>Nom du site</th>
            <th>ID du propriétaire</th>
        </tr>
        @each(locker in lockers)
        <tr>
            <td>{{ locker.roomName}}</td>
            <td>{{ locker.site}}</td>
            <td>{{ locker.studentId}}</td>
        </tr>
        @end
    </table>

  </body>
</html>