<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire des demandes de casiers</title>
    <link rel="stylesheet" href="./resources/css/app.css" />
  </head>
  <body>
    @include('components/header')
    <h1>Liste des utilisateurs</h1>
    <table>
        <tr>
            <th>id</th>
            <th>ID Casier</th>
            <th>ID Eleve</th>
            <th>Nom Prenom Eleve</th>
        </tr>
        @each(request in requests)
        <tr>
            <td>{{ request.id}}</td>
            <td>{{ request.lockerId}}</td>
            <td>{{ request.studentId}}</td>
        </tr>
        @end
    </table>

  </body>
</html>